<ul class="list-footer-links js-footer-link-content">
    <li class="list-footer-links__item">
        <a href="#" class="list-footer-links__item__link">
            {{ 'Blog'|trans }}
        </a>
    </li>
    <li class="list-footer-links__item">
        <a href="#" class="list-footer-links__item__link">
            {{ 'Prodejny'|trans }}
        </a>
    </li>
    <li class="list-footer-links__item">
        <a href="#" class="list-footer-links__item__link">
            {{ 'Kontakt'|trans }}
        </a>
    </li>
</ul>
